<div class="container">
  <h3 mat-dialog-title>Agregar Nueva Tarea</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

      <div class="form">
          <mat-form-field color="accent">
              <textarea matInput #input class="form-control" placeholder="Titulo" [(ngModel)]="data.title" name="Titulo" required></textarea>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
            <textarea matInput #input class="form-control" placeholder="Descripción" [(ngModel)]="data.description" name="Descripción" required></textarea>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>

      <div class="form">
        <mat-form-field color="accent">
          <mat-label>Estado</mat-label>
          <mat-select [(ngModel)]="data.status" name="status" required>
            <mat-option value="EN PROCESO">EN PROCESO</mat-option>
            <mat-option value="COMPLETADA">COMPLETADA</mat-option>
            <mat-option value="RECHAZADA">RECHAZADA</mat-option>
          </mat-select>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      </div>

      <div mat-dialog-actions>
          <button mat-button type="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Guardar</button>
          <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
      </div>
  </form>
</div>
